@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../components/Navbar/navbar.module.css';
@import './../components/Experience/styles.css';

@layer components {
  .glass-hover {
    @apply z-0 rounded-md transition lg:-inset-x-6 lg:block lg:hover:bg-slate-800/50 lg:hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:hover:drop-shadow-lg;
  }
  .main-div-left {
    @apply m-4 sm:ml-16 sm:mt-16;
  }
  .main-div-right {
    @apply m-4 lg:ml-8 lg:mt-16 lg:mr-16 mb-8 lg:max-w-half;
  }
  div p strong {
    @apply text-slate-200;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  background-color: #0F172A;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
